/* 기본 모드 (밝은 모드) 스타일 */
body {
  background-color: #ffffff;
  color: #333;
  transition: background-color 0.5s, color 0.5s; /* 부드러운 전환 효과 */
}

/* 다크 모드 스타일 */
body.dark-mode {
  background-color: #333;
  color: #f0f0f0;
}

body.dark-mode table {
  color: #f0f0f0;
}

body.dark-mode th {
  background-color: #555;
  color: #f0f0f0;
  border-bottom: 1px solid #777;
}

body.dark-mode td {
  background-color: #444;
  border-bottom: 1px solid #666;
}
/* 제목 및 시간 */
.mt-5-container {
  display: flex;
  justify-content: space-between; /* 필요에 따라 양 끝으로 분산 정렬 */
  align-items: flex-end; /* 자식 요소들을 세로축 아래에 맞춰 정렬 */
  user-select: none;
  height: 50px;
}

#clock {
    margin-top :3rem;
    margin-left : 1rem;
}

/* 선택그룹1 */
.align-items-center {
  display: flex;
  flex-wrap: nowrap; /* 줄바꿈 방지 */
  /* align-items: center; 세로 중앙 정렬 */
  /* gap: 10px; 요소 간 간격 설정 */
  overflow-x: auto; /* 내용이 넘칠 때 스크롤바 추가 */
}

.form-group {
  flex-basis: auto; /* 또는 width 속성을 아예 제거 */
  flex-shrink: 0;
  flex-grow: 0; /* 이 속성을 추가합니다. */
  width: auto;
  padding :0 6px
}

/* select 스타일 */
.form-select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  appearance: none; /* 기본 select 스타일 제거 */
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path fill="%23333" d="M6 9l-4-4h8z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

#inlineFormSelectPref {
  width: 120px;
}

#gender_selector {
  width: 80px;
}

/* input 스타일 */
#search {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
}

/* button 스타일 */
#subject {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

#subject:hover {
  background-color: #0056b3;
}

.pagination {
    display: inline-block;
}

.pagination-container {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  width: 100%; /* 부모 요소가 가운데 정렬될 수 있도록 너비를 확보 */
}
.pagination a {
  color: #4f94d0;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #ababab;
  color: #4b4b4b;
  border: 1px solid #ffffff;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* 다크 모드 버튼 스타일 */
#dark-mode-toggle {
  padding: 4px 6px;
  border: 1px solid #000000;
  border-radius: 100px;
  cursor: pointer;
  background-color: #000000;
  color: #333;
}